@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

:root {
	--primary-dark-color: "#151D3B";
	--secondary-dark-color: "#D82148";
	--primary-light-color: "#6EBF8B";
	--secondary-light-color: "#DADBBD";
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--primary-dark-color);
}

* {
	font-family: "Karla", sans-serif;
}
