:root {
	--primary-dark-color: "#151D3B";
	--secondary-dark-color: "#D82148";
	--primary-light-color: "#6EBF8B";
	--secondary-light-color: "#DADBBD";
}

.expense {
	background-color: var(--primary-dark-color);
}

.expense_header {
	width: 100%;
	box-sizing: border-box;
	padding: 63px 30px;
	background-image: linear-gradient(#151d3b94, #151d3b),
		url("../images/nature.jpg");
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
}

.expense_header-input {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

@media (min-width: 768px) {
	.expense_header-input {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}
	.expense_header {
		width: 100%;
		box-sizing: border-box;
		height: 40vh;
		background-image: linear-gradient(#151d3b94, #151d3b),
			url("../images/nature.jpg");
		background-position: center center;
		background-size: cover;
		display: flex;
		align-items: center;
		justify-content: center;
		background-repeat: no-repeat;
	}
	.expense_header-input {
		display: flex;
		flex-direction: row;
		gap: 16px;
		width: auto;
	}
}

.expense_header-input > select {
	padding: 16px 20px;
	font-size: 16px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.expense_main-input-category {
	padding: 8px 20px;
	font-size: 16px;
	text-align: center;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.expense_header-input > input {
	color: #d82148;
	border: none;
	font-size: 16px;
	outline: none;
	padding: 16px 20px;
}

.expense_header-input > button {
	box-sizing: border-box;
	padding: 16px 20px;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	color: #fff;
	background: #d82148;
	cursor: pointer;
}

.expense__main {
	width: 100%;
	height: 60vh;
	overflow-y: scroll;
	background-color: #151d3b;
	display: flex;
	flex-direction: column;
	gap: 16px;
	box-sizing: border-box;
	align-items: center;
	padding: 16px 20px;
}
.expense__main::-webkit-scrollbar {
	display: none;
}

.expense__main-total {
	font-size: 32px;
	color: #6ebf8b;
	display: flex;
	font-weight: 200;
	flex-direction: column;
	align-items: center;
}

.expense__main-input {
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	background-color: #d82148;
	padding: 16px 20px;
	gap: 16px;
}

@media (min-width: 768px) {
	.expense__main-input {
		display: flex;
		width: 50%;
		justify-content: space-between;
		align-items: center;
		background-color: #d82148;
		padding: 16px 20px;
		gap: 16px;
	}
}

.expense__main-input-desc {
	display: flex;
	align-items: center;
	gap: 16px;
}

.expense__main-input-desc-cat {
	border: 1px solid #dadbbd;
	display: flex;
	align-items: center;

	color: #dadbbd;
	font-size: 20px;
	justify-content: center;
	padding: 10px 12px;
	border-radius: 6px;
}

.expense__main-input-desc-title {
	color: #dadbbd;
}

.expense__main-input-price {
	color: #dadbbd;
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: 800;
}

.expense__main-input-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	border-radius: 8px;
	font-size: 20px;
	cursor: pointer;
	background-color: #dadbbd;
	color: #d82148;
}
